
<!--{{productEdit?.title}}-->
<!--{{productEdit?.id}}-->


<form class="edit" [formGroup]="form" (ngSubmit)="submit()">
  <input
    type="text"
    placeholder="Product name"
    formControlName="title"
    value="{{productEdit?.title}}"

  >

  <p
    class="text-red-600 font-medium mb-2"
    *ngIf="title.errors?.minlength"
  >Please fill title field width min length. Now {{ title.value.length }}</p>

  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white"
  >{{titleFormButton}}</button>
</form>
