<div class="max-w-2hl container mx-auto pt-5">
  <h1 class="font-bold mb-2 text-center text-lg">{{title | titlecase}}</h1>
  <!--  <app-product [product]="products[0]"></app-product>-->
  <!--  <app-product [product]="products[1]"></app-product>-->
  <p *ngIf="loading" class="text-center text-lg">Loading...</p>


  <div class="grid-x">
    <div class="large-8">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected" (valueChange)="getProducts(search)">
          <mat-option [value]="'all'">Select an option</mat-option>
          <mat-option *ngFor="let category of categories;"  [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{selected}}</p>


    </div>
    <div class="large-4">
      <form class="example-form">
        <input id="search" type="text"  placeholder="Search" name= "search" [(ngModel)]= "search" (keyup)="modelChange(search)">
      </form>
      {{search}}
    </div>
  </div>

  <p>{{products.length}}</p>
  <p>{{limitStart}}</p>
  <div class="product-all">
    <div class="grid-x">

      <div  class="cell small-12 large-4"
            *ngFor="let product of products | slice: 0:limitStart;  index as i ">
        <div  class="product">
          <app-product @animationProducts [product]="product"></app-product>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more">
    <p *ngIf="products.length == 0 "> No Result</p>
    <button *ngIf="products.length  > limitStart"
            class="border load-more-button  py-2 px-4 rounded text-center"
            (click)="limitStart = limitStart + limitStartPlus"
    > load More
    </button>
  </div>
</div>

