<div class="max-w-2hl container mx-auto pt-5">
  <h1 class="font-bold mb-2 text-center text-lg">{{title | titlecase}}</h1>
  <!--  <app-product [product]="products[0]"></app-product>-->
  <!--  <app-product [product]="products[1]"></app-product>-->


  <button   (click)="sort(sortProductsAscDesc)"
            class="button"




  > {{sortProductsAscDesc ? 'Desc':'Asc'}}</button>

  <div class="grid-x">
    <div class="large-8">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="valueSelectedPageProducts" (valueChange)="getProducts(searchProducts , sortProductsAscDesc)">
          <mat-option [value]="'all'">Select an option</mat-option>
          <mat-option *ngFor="let category of categoriesProducts;"  [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>You selected: {{valueSelectedPageProducts}}</p>


    </div>
    <div class="large-4">
      <form class="example-form">
        <input id="search" type="text"  placeholder="Search" name= "search" [(ngModel)]= "searchProducts" (keyup)="getStrSearchProducts(searchProducts)">
      </form>
      {{searchProducts}}
    </div>
  </div>

  <p>{{productsService.products.length}}</p>
  <p>{{numberShowedProducts}}</p>
  <div *ngIf="loadingProducts"><mat-spinner></mat-spinner></div>
  <div class="product-all">
    <div class="grid-x">

      <div  class="cell small-12 large-4"
            *ngFor="let product of productsService.products | slice: 0:numberShowedProducts;  index as i "
      >
        <div  class="product">
          <app-product @animationProducts [product]="product"></app-product>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more">
    <p *ngIf="productsService.products.length == 0 && loadingProducts == false "> No Result</p>
    <button *ngIf="productsService.products.length  > numberShowedProducts"
            class="border load-more-button  py-2 px-4 rounded text-center"
            (click)="numberShowedProducts = numberShowedProducts + numberAddShowedProducts"
    > load More
    </button>
  </div>
</div>
<app-modal *ngIf="modalService.isVisibleEditProduct$ | async" titleForm="Edit Product" >
  <app-form-edit titleFormButton="Edit"></app-form-edit>
</app-modal>
<mat-icon  (click)="modalService.openCreatProduct()"  aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
<app-modal *ngIf="modalService.isVisibleCreatProduct$ | async" titleForm="Create Product" >
  <app-form-create titleFormButton="Create"></app-form-create>
</app-modal>




