/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
  cursor: pointer;
}
.grid-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1024px){
    max-width: 95%;
  }
}
.product-all {

    @media (min-width: 1024px){
      margin: 0 -15px;
    }

}
.product {
cursor: pointer;
  padding: 15px 0;
  @media (min-width: 1024px){
    height: 100%;
  }

  &__detail {
    text-align: center;
    margin: 15px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px){
    height: 100%;

    }
    h2 {
      &:hover {
        color: blue;
      }
    }
    img {
      width: 150px;
      height: 300px;
      object-fit: contain;
      margin: 0 auto;
      transition: height 0.5s ease-in-out;
    }
  }
  button {
    padding: 10px 20px;
    display: inline-block;
    margin: auto auto 0;

    background: aqua;
    //max-width: 50%;
    &:hover {
      background: #27403c;
      cursor: pointer;
      color: white;
    }
  }
}
.load-more {
  padding: 50px 0;
 &-button {
   background: greenyellow;
   padding: 20px 30px;
   margin: 0 auto;
   display: block;
   &:hover {
     background: gray;
     color: white;
   }
 }
}
.mat-form-field-label , .mat-select-min-line {
  color: black;
}
.mat-select-arrow {
  color: black;
}
